.todolistContainer {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: #1890ff solid 2px;
  width: max-content;
}

.h2ButtonContainer{
  display: flex;
}

.buttonContainer{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.inputButtonSection {
  display: flex;
  margin: 10px;
  width: 600px;
}

.tasksSection {
  width: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
